@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mitr);
  --font-mono: var(--font-geist-mono);
  --color-primary: #449688;
  --color-primary-hover: #3a7f78;
  --color-txt-primary: #2F3237;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mitr), Arial, Helvetica, sans-serif;
}

